//
   Created by Antiockus on 5/8/15.

doctype
html(lang="en")
    head
        meta(charset="utf-8")
        title= "Foundation Site"
        meta(name="",content="")



        link(rel="stylesheet",href="css/foundation.min.css")
        link(rel="stylesheet",href="css/normalize.css")
        link(rel='stylesheet',href="css/main.css")

        script(src='js/vendor/modernizr.js')

    body

        .row
            .large-12.columns
                h1 Title of Site
                h2 Subtitle of site

        .row
            .large-12.columns.button-group
                a(href="#").button Filler
                a(href="#").button Filler
                a(href="#").button Filler
                a(href="#").button Filler
                a(href="#").button Filler
                a(href="#").button Filler
                a(href="#").button Filler

        .row.preview

        .row
            .large-3.columns
                img(src="img/69H.jpg",alt='filler text',title="Test")
            .large-3.columns
                img(src='img/74H.jpg',alt='filler',title='test')
            .large-3.columns
                img(src="img/61H.jpg",alt='filler',title='test')
            .large-3.columns
                img(src='img/81H.jpg',alt='filler')

        .row
            .large-3.columns
                img(src="img/69H.jpg",alt='filler text')
            .large-3.columns
                img(src='img/74H.jpg',alt='filler')
            .large-3.columns
                img(src="img/61H.jpg",alt='filler')
            .large-3.columns
                img(src='img/81H.jpg',alt='filler')

        .row
            .large-3.columns
                img(src="img/69H.jpg",alt='filler text')
            .large-3.columns
                img(src='img/74H.jpg',alt='filler')
            .large-3.columns
                img(src="img/61H.jpg",alt='filler')
            .large-3.columns
                img(src='img/81H.jpg',alt='filler')

        .row
            .large-12.columns
                h2 Even more

        .row
            .large-3.columns
                img(src="img/69H.jpg",alt='filler text')
            .large-3.columns
                img(src='img/74H.jpg',alt='filler')
            .large-3.columns
                img(src="img/61H.jpg",alt='filler')
            .large-3.columns
                img(src='img/81H.jpg',alt='filler')

        .row
            .large-3.columns
                img(src="img/69H.jpg",alt='filler text')
            .large-3.columns
                img(src='img/74H.jpg',alt='filler')
            .large-3.columns
                img(src="img/61H.jpg",alt='filler')
            .large-3.columns
                img(src='img/81H.jpg',alt='filler')


        script(src='js/vendor/jquery.js')
        script(src='js/foundation.min.js')
        script(src='js/main.js')